

//Primary
$design-dark-blue: rgb(45, 49, 77);
$design-lime-green: rgb(49, 211, 92);
$design-cyan: rgb(43, 183, 218);

//   Neutral 
$design-greyish-blue: rgb(150, 152, 166);
$design-light-grey-blue: rgb(243, 244, 246);
$design-light-grey: rgb(250, 250, 250);
$design-white: rgb(255, 255, 255);