@import 'colors';

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
    color:$design-dark-blue
}

body {
    background:$design-light-grey-blue;
    width:100%;
    overflow-x:hidden;
}

html {
    font-size:18px;
    font-family:"Public sans", sans-serif;
}

.contained {
    max-width:1440px;
    padding:0 4rem;
    margin-left:auto;
    margin-right:auto;
}


//Header Section
.header {
    background-color:#fff;
    width:100%;
    position:relative;
    z-index:999;
    
    .nav-bar {
        display:flex;
        
        
        margin:0 auto;
        justify-content:space-between;
        align-items:center;
        ul {
            list-style:none;
            display:flex;

            .nav-item {
                
                padding:4vh 0 calc(4vh - 4px) 0;
                margin-left:1rem;
                margin-right:1rem;
                border-bottom:solid 2px transparent;

                a {
                    color:#000;
                    text-decoration: none;
                }

            }

            .nav-item:hover {
                border-bottom:2px solid transparent;
                border-image:linear-gradient(to right, $design-lime-green, $design-cyan);
                border-image-slice:1;
            }
        }
        
    }

}



.invite-button {
    width:200px;
    background:linear-gradient(to right, $design-lime-green, $design-cyan);
    border-radius:25px;
    min-height:40px;
    color:$design-light-grey-blue;
    font-size:1rem;
    border:none;
    outline:none;
    cursor:pointer;
    transition:filter 0.2s ease-in-out;
    box-shadow: (2px 3px 5px rgba(0, 0, 0, 0.4));
}

.invite-button:hover {
    filter:brightness(1.1);
    transition:filter 0.2s ease-in-out;
}


.hero-container {
    background-color:$design-light-grey;
    height:90vh;
    max-width: width 100vw;
    
 
}

.hero-container::before {
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    background:url(images/bg-intro-desktop.svg);
    background-position: 35vw 0;
    z-index:1;
    background-repeat:no-repeat;
    
}

.hero-section {
    position:relative;
    z-index:2;
    height:100%;
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
    
    .text-content {
        width:100%;

        margin-right:auto;
        h1 {
            width:100%;
            font-size:3rem;
            font-weight:400;
            line-height:120%;
        }
        p {
            font-size:1.2rem;
            line-height:130%;
            margin:2rem 0;
            width:90%;
        }
    }

    .image-content {
        position:relative;
        height:100%;

        img {
            height:130%;
            position:relative;
            left:25%;
            bottom:10%;
            
        }
    }
}




//Why Choose Section

.choose-section-wrapper {
    background:$design-light-grey-blue;
    width:100%;
    position:relative;
    z-index:1;
}
.choose-section {
    position:relative;
    padding-top:5rem;
    padding-bottom:5rem;
    background:$design-light-grey-blue;
    

    h2 {
        font-size:2.5rem;
    }
    .choose-description {
        margin:2rem 0 4rem 0;
        color:$design-greyish-blue;
        width:50%;
        margin-right:auto;
        line-height:150%;
    }
}

.features-flex {
    display:flex;
    justify-content:space-between;
    
    
    .feature-card {
        padding-right:1.5rem;
        img {
            margin:2rem 0;
        }
        h3 {
            font-size:1.5rem;
            color:$design-dark-blue;
            margin-bottom:1rem;
        }
        p {
            font-size:1rem;
            line-height:150%;
            color:$design-greyish-blue;
        }
    }
    
}



.articles-wrapper {
    background:$design-light-grey;
}

.articles-section {
    display:flex;
    
    padding-top:5rem;
    padding-bottom:5rem;
    justify-content:space-between;

    .article {
        margin-right:1rem;
        margin-left:1rem;
        max-width:300px;
        min-width:250px;
        border-radius:5px;
        overflow:hidden;
        cursor: pointer;


        
        .image-box1 {
            width:100%;
            height:200px;
            background:url(images/image-currency.jpg);
            background-position:center;
            background-size:cover;
        }

        .image-box2 {
            width: 100%;
            height: 200px;
            background: url(images/image-restaurant.jpg);
            background-position:center;
            background-size:cover;
        }

        .image-box3 {
            width: 100%;
            height: 200px;
            background: url(images/image-plane.jpg);
            background-position:center;
            background-size:cover;
        }

        .image-box4 {
            width: 100%;
            height: 200px;
            background: url(images/image-confetti.jpg);
            background-position:center;
            background-size:cover;
        }

        .text-box {
            background:#fff;
            padding:1rem;
            
            .author {
                color:$design-greyish-blue;
                display:block;
            }

            h4 {
                margin:0.5rem auto 0.5rem 0;
                width:80%;
                font-size:1rem;
                font-weight:bold;
                transition:color 0.2s ease-in-out;
            }
            p {
                color:$design-greyish-blue;
            }
        }
        
        &:hover .text-box h4{
            color:$design-lime-green;
            transition:color 0.2s ease-in-out;
        }

        
    }

}


.footer-wrapper {
    background:$design-dark-blue;
    width:100%;
}

.footer {
   display:flex;
   align-items:center;
  
   
}

.footer-content {
    margin-top:2rem;
    margin-bottom:2rem;
    width:100%;
    display:flex;
    justify-content: space-between;

    .column-1 {
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        .footer-logo {
            filter: brightness(0) invert(1);
            cursor:pointer;
        }

        .icons {
            display:flex;
            justify-content:space-between;
            transition: fill 0.2s ease-in-out;

            svg {

                cursor:pointer;

                &:hover  path {
                    fill: $design-lime-green;
                    transition: fill 0.2s ease-in-out;
                }
            }
        }
    }

    .column-links {
        ul {
            list-style:none;
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;

            li {
                
                
                a {
                    color: $design-light-grey-blue;
                    font-size:1rem;
                    text-decoration:none;
                }

                a:hover {
                    color:$design-lime-green;
                    transition:color 0.2s ease-in-out;
                }
            }

            li:nth-child(2){
                margin:0.5rem 0;
            }
        }
    } 
}

.invites {
    width:100%;
    text-align:right;
    button {
        margin-bottom:1rem;
    }
    p {
        margin-top:auto;
        color:#fff;
    }


}











